Repository rieset/pdf-service: changes, and which lint-staged commands are due for each by the changed paths.
All: markdownlint --fix, prettier --write, yarn lint, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin -e jest -e node -e es6

Fixed path to worker
  src/pdf/pdf.service.ts
Due: prettier --write, yarn lint, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin -e jest -e node -e es6

Fixed pdf config
  src/pdf/worker.ts
Due: prettier --write, yarn lint, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin -e jest -e node -e es6

Fixed pdf config
  src/pdf/pdf.controller.ts
Due: prettier --write, yarn lint, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin -e jest -e node -e es6

Fixed pdf service
  .dockerignore
  .env.example
  .eslintrc.json
  .github/workflows/release.yml
  Dockerfile
  README.md
  package.json
  pm2.config.js
Due: markdownlint --fix, prettier --write, yarn lint

Update environment config
  Dockerfile
  README.md
Due: markdownlint --fix

Update release.yml
  .github/workflows/release.yml
Due: none

Update Dockerfile
  Dockerfile
Due: none

Update release config and controller
  .github/workflows/release.yml
  .lintstagedrc
  src/pdf/pdf.controller.ts
  src/pdf/worker.ts
Due: prettier --write, yarn lint, standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin -e jest -e node -e es6

Update release config
  .github/workflows/release.yml
Due: none

Path conditions:
  markdownlint --fix: any of: *.md
  prettier --write: ((any of: *.{js,html}) or (any of: *.scss)) or (any of: *.ts)
  yarn lint: (any of: *.{js,html}) or (any of: *.ts)
  standardx --fix --parser @typescript-eslint/parser --plugin @typescript-eslint/eslint-plugin -e jest -e node -e es6: any of: *.ts
